html {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 80%)
  ,linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%),url(https://wallpapercave.com/wp/wp6736990.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.App {
  text-align: center;
}

.Name{
  text-align: center;
  font-size: 25px;
  margin-top: auto;
  color: rgb(84, 248, 84);
  text-shadow: 0 0 25px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255),
  0 0 100px rgb(255, 255, 255), 0 0 150px rgb(255, 255, 255);
}

.cards {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 150px 0px 0px 30px;
}

.cards .face {
  position: absolute;
  width: 220px;
  height: 350px;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  transition: .5s;
}

.cards .front {
  transform: perspective(350px) rotateY(0deg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-image: url(https://w0.peakpx.com/wallpaper/88/903/HD-wallpaper-green-stars-gradient-space-star.jpg);
}

.cards .front img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  overflow: hidden;
}

.cards .back {
  transform: perspective(350px) rotateY(180deg);
  background-image: url(https://w0.peakpx.com/wallpaper/88/903/HD-wallpaper-green-stars-gradient-space-star.jpg);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px 5px 5px rgb(84, 248, 84);
}

.cards:hover .front {
  transform: perspective(350px) rotateY(180deg);
}

.cards:hover .back {
  transform: perspective(350px) rotateY(360deg);
}

.btnFavorite {
  font-size: 20px;
  font-weight: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -2px;
  margin-left: -2px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 0 10px rgb(84, 248, 84);
  border-radius: 0px 0px 8px 0px;
}

.btnDetail {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -2px;
  width: auto;
  height: auto;
  background-color: transparent;
  color: rgb(84, 248, 84);
  box-shadow: 0 0 10px rgb(84, 248, 84);
  border-radius: 8px;
}

.btnClose {
  font-size: 20px;
  font-weight: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2px;
  margin-right: -2px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: rgb(84, 248, 84);
  box-shadow: 0 0 10px rgb(84, 248, 84);
  border-radius: 0px 0px 0px 8px;
}

.ContainerDetail{
  font-weight: bold;  
  text-align: center;
  margin-top: 150px;
  box-shadow: 0 0 50px rgb(84, 248, 84);
  border-radius: 8px;
}

.ContainerDetail a{
  text-decoration: none;
  color: #ffffff;
}


@media (max-width: 1600px) {
  .cards {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 150px;
     height: 200px;
     margin: 150px 0px 0px 30px;
  }
  .cards .face {
     width: 150px;
     height: 320px;
  }
  .cards .front {
     background-size: cover;
  }
  .cards .front img {
     height: 60%;
  }
} 

@media (max-width: 1000px) {
  .cards {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 150px;
     height: 200px;
     margin: 150px 0px 0px 30px;
  }
  .cards .face {
     width: 150px;
     height: 320px;
  }
  .cards .front {
     background-size: cover;
  }
  .cards .front img {
     height: 60%;
  }
} 

@media (max-width: 600px) {
  .cards {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 150px;
     height: 200px;
     margin: 150px 0px 0px 30px;
  }
  .cards .face {
     width: 150px;
     height: 320px;
  }
  .cards .front {
     background-size: cover;
  }
  .cards .front img {
     height: 60%;
  }
} 