.img {
  position: absolute;
  top: 200px;
  width: 200px;
  height: 200px;
}

.container { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 300px 300px 650px 650px;
  width: 60vh;
  height: 35vh;
  background-image: url(https://w0.peakpx.com/wallpaper/88/903/HD-wallpaper-green-stars-gradient-space-star.jpg);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(115, 255, 0);
}

.container form {
  margin-top: 50px;
  position: relative;
  /* padding-top: 50px; */
  justify-content: center;
  align-items: column;
}

.container p {
  color: rgb(255, 255, 255);
  margin: 1%;
}

.container input {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(115, 255, 0);
}

.btn {
  justify-content: center;
  align-items: center;
}

.btn button {
  color: white;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  background-image: url(https://w0.peakpx.com/wallpaper/88/903/HD-wallpaper-green-stars-gradient-space-star.jpg);
  box-shadow: 0 0 10px rgb(115, 255, 0), 0 0 25px rgb(115, 255, 0);
}

.btn button:hover {
  box-shadow: 0 0 10px rgb(115, 255, 0), 0 0 25px rgb(115, 255, 0), 0 0 50px rgb(115, 255, 0),
  0 0 100px rgb(115, 255, 0), 0 0 25px rgb(115, 255, 0), 0 0 200px rgb(115, 255, 0);
}

@media (max-width: 1700px) {
  .img {
      position: absolute;
  }
  .container {
      margin: 300px auto;
      width: 600px auto;
      height: auto;
  }
  
  .container form {
      margin-top: 100px;
      margin-bottom: 50px;
  }
  
  .container input {
      width: 100%;
  }
  
  .btn button {
      width: 80px;
  }
}


@media (max-width: 1000px) {
  .img {
      position: absolute;
  }
  .container {
      margin: 300px auto;
      width: 600px auto;
      height: auto;
  }
  
  .container form {
      margin-top: 100px;
      margin-bottom: 50px;
  }
  
  .container input {
      width: 100%;
  }
  
  .btn button {
      width: 80px;
  }
}

@media (max-width: 600px) {
  .img {
      position: absolute;
  }
  .container {
      margin: 300px auto;
      width: 600px auto;
      height: auto;
  }
  
  .container form {
      margin-top: 100px;
      margin-bottom: 50px;
  }
  
  .container input {
      width: 100%;
  }
  
  .btn button {
      width: 80px;
  }
}